*{
    padding: 0;
    margin: 0; 
    font-family: 'Bai Jamjuree', sans-serif;
 }
 .container{
     background-color: #050505;
     height: auto;
 }
 
 .header-contact{
     width: 100%;
    display: flex; 
    justify-content: center;
    background-color: #222;
 }
 
 .header-contact > span{
     display: inline-block;
     color: #fff;
     margin: 9px 10px;
 }
 
 header{
     width: 100%;
     display: flex;
     background-color: #050505;
     height: 7vh;
 }
 
 header > div >img{
     height: 7vh;
     width: 100px;
 }
 
 .burger{
     position: absolute;
     height: 45px;
     top: 7vh;
     cursor: pointer;
     right: 6%;
 }
 
 .nav{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #222;
    width: 99%;
    left: -100%;
    height: 93vh; 
 }
 
 .close{
     position:absolute;
     color: white;
     font-size: 24px;
     top: 10px;
     cursor: pointer;
     right: 6%;
 }
 
 .nav > a{
     text-decoration: none;
     color: rgb(194, 194, 194);
     margin: 22px 30px;
     font-size: 2em;
 }
 .active{
     color: white;
 }
 
 .intro{
     color: #fff;
 }
 
 .intro >h1{
     margin: 70px 20px 40px 5%;
     font-size: 3em;
     font-weight: lighter;
 }
 
 .contact{
     display: flex;
     flex-direction: column;
     background-color: #131212;
     color: #fff;
     height: auto;
 }
 
 .info > div > h3{
     margin: 20px 5%;
     font-weight: 100;
     color: white;
 }
 
 .info > div > a{
     margin: 10px 5%;
     display: block;
     text-decoration: none;
     color: #fff;
     font-size: 2.5em;
 
 }
 
 .info > div > a > h1 {
     font-weight: lighter;
 }