@media screen and (min-width: 769px) {
  * {
    padding: 0;
    margin: 0;
    font-family: "Bai Jamjuree", sans-serif;
  }
  .caption {
    display: flex;
    justify-content: center;
    background-color: rgb(43, 43, 43);
    position: sticky;
    top: 0;
  }

  .caption > span {
    margin: 10px 2%;
    font-size: 12px;
    color: gold
  }
  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: rgb(7, 7, 7);
    position: sticky;
    top: 30px;
  }
  header > div {
    display: flex;
    align-items: center;
    align-self: center;
    width: 40%;
  }
  header > div > img {
    width: 50px;
    margin: 0px 5%;
  }

  header > div > span {
    color: #fff;
    font-size: 1.5em;
  }
  .burg {
    visibility: hidden;
  }

  .close {
    display: none;
  }
  nav {
    width: 60%;
  }
  nav > a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0px 2%;
  }

  .container {
    background-color: rgb(3, 3, 3);
  }

  .Services-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
  }

  .Services-header > img {
    width: 100px;
    margin: 10px 5%;
    border-radius: 50%;
  }
  .Services-header > h3 {
    color: rgb(114, 109, 109);
    margin: 10px 5%;
  }
  .Services-header > h1 {
    color: #fff;
    font-size: 4em;
    font-weight: 250;
    margin: 0 5%;
  }
  .Talent{
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 28, 28);
    color: #fff;
  }
  .Talent > div{
    color: #fff;
  }
  .Talent > div >span{
    display: inline-block;
    margin: 20px 5%;
    font-weight: lighter;
    font-size: 2em;
  }

  .Talent > div > p{
    width: 55%;
    font-size: 1.5em;
    font-weight: lighter;
    border-left:3px solid goldenrod ;
    margin: 20px 5%;
    padding: 2px 7px;
  }
  .Talent > h1{
    font-weight: lighter;
    margin: 10px 5%;
  }

  .Talent > ul{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 50px;
    margin: 10px 5%;
    list-style: none;
  }

  .Talent > ul > li{
    padding: 20px 0;
    font-weight: lighter;
    font-size: 1.5em;
    border-bottom: 1px solid rgb(114, 109, 109);
    border-top: 1px solid rgb(114, 109, 109);
  }

  .allservices > a{
    display: inline-block;
    color: #fff;
    margin:50px 0;
    font-size: 3em;
    text-decoration: none;
  }
  .allservices >img{
    width: 50px;
  }
  footer > div > h3 {
    margin: 50px 5%;
    font-weight: lighter;
    color: #fff;
  }

  footer > div > a {
    display: inline-block;
    color: #fff;
    font-size: 2.5em;
    font-weight: lighter;
    text-decoration: none;
    margin: 20px 5%;
  }

  footer > div > a > h1 {
    font-weight: lighter;
  }
  footer > ul{
    display: flex;
    padding: 20px 5%;
    list-style: none;

}
footer > ul >li{
    color: rgb(90, 90, 90);
    margin: 20px 10px;
}
footer > ul >li >img{
    opacity: 0.5;
    width: 20px;
}
footer > ul >li >a{
    text-decoration: none;
    color: rgb(90, 90, 90);
}
}
@media screen and (min-width:200px) and (max-width:768px){
  *{
    padding: 0;
    margin: 0; 
    font-family: 'Bai Jamjuree', sans-serif;
 
}
 .caption{
        display: flex;
        justify-content: center;
        background-color: rgb(43, 43, 43);
        position: sticky;
        top: 0;
    }

    .caption >span{
        margin: 10px 2%;
        font-size: 12px;
        color: gold
    }
 header{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
     height: 7vh;
     background-color: rgb(7, 7, 7);
     position: sticky;
     top: 30px;

 }
header >div{
    display: flex;
    align-items: center;
    align-self: center;
    width: 80%;
}
 header > div > img{
     width: 40px;
     margin: 0px 5%;
 }

 header > div > span{
     display: inline-block;
     margin-bottom: 10px;
     color: #fff;
     font-size: 1.5em;
 }
 .burg{
     position: absolute;
     cursor: pointer;
     right: 5%;
     
 }

 .close{
     position: absolute;
     color: #fff;
     cursor: pointer;
     top: 19px;
     right: 4%;
    
 }
 nav{
    display: flex;
    justify-content: center;
    align-items: flex-start;
     position: absolute;
     top: 0px;
     left: -100%;
     height: 95vh;
     background-color: rgb(46, 46, 46);
     flex-direction: column;
     width: 99%;
 }
 nav > a{
     color: rgb(204, 204, 204);
     text-decoration: none;
     font-size: 1.5em;
     margin: 10px 5%;
 }
 .container {
    background-color: rgb(3, 3, 3);
  }
  .Services-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
  }

  .Services-header > img {
    width: 100px;
    margin: 10px 5%;
    border-radius: 50%;
  }
  .Services-header > h3 {
    color: rgb(114, 109, 109);
    margin: 10px 5%;
  }
  .Services-header > h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 250;
    margin: 0 5%;
  }
  .Talent{
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 28, 28);
    color: #fff;
  }
  .Talent > div{
    color: #fff;
  }
  .Talent > div >span{
    display: inline-block;
    margin: 20px 5%;
    font-weight: lighter;
    font-size: 2em;
  }

  .Talent > div > p{
    font-size: 1.5em;
    font-weight: lighter;
    border-left:3px solid goldenrod ;
    margin: 20px 5%;
    padding: 2px 7px;
  }
  .Talent > h1{
    font-weight: lighter;
    margin: 10px 5%;
  }

  .Talent > ul{
    display: flex;
    flex-direction: column;
    margin: 10px 5%;
    list-style: none;
  }

  .Talent > ul > li{
    padding: 20px 0;

    border-bottom: 1px solid rgb(114, 109, 109);
    border-top: 1px solid rgb(114, 109, 109);
  }

  .allservices > a{
    display: inline-block;
    color: #fff;
    margin:50px 0;
    font-size: 2em;
    text-decoration: none;
  }
  .allservices >img{
    width: 40px;
  }
  footer > div > h3 {
    margin: 50px 5%;
    padding: 10px 0;
    font-weight: lighter;
    color: #fff;
    border-top: 1px solid rgb(80, 80, 80);
  }

  footer > div > a {
    display: inline-block;
    color: #fff;
    font-size: 2.5em;
    font-weight: lighter;
    text-decoration: none;
    margin: 20px 5%;
  }

  footer > div > a > h1 {
    font-weight: lighter;
  }
  footer > ul{
    display: flex;
    padding: 20px 5%;
    list-style: none;

}
footer > ul >li{
    color: rgb(90, 90, 90);
    margin: 20px 10px;
}
footer > ul >li >img{
    opacity: 0.5;
    width: 20px;
}
footer > ul >li >a{
    text-decoration: none;
    color: rgb(90, 90, 90);
}
}